.git
.gitignore
backend/.env
backend/.env.*
!backend/.env.example
backend/database/database.sqlite
backend/vendor
backend/public/build
backend/tests
frontend/node_modules
backend/storage/logs
backend/storage/framework/cache/data
backend/storage/framework/sessions
